@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto:wght@300;400;500;700&display=swap');
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    -webkit-font-smoothing: antialised;
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
body{
    font-family: 'Nanum Gothic','Roboto', sans-serif;
    color: #202020;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
}    
nav ul, li{
    list-style:none;
}
a{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
    color: #222;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
input[type="text"], input[type="search"],input[type="radio"], img {
    vertical-align: middle;
}
input[type="text"] {
    appearance: auto;
    box-sizing: border-box;
    border: initial;
}
button, input, pre, select, textarea {
    font-family: 'Nanum Gothic','Roboto', sans-serif;
    font-size: 14px;
    outline: none;
}
/* .inner {
    width: 1180px;
} */
.fl {
    float: left;
}
.fr {
    float: right;
}
.blind {
    overflow: hidden;
    position: absolute;
    top: -99999999em;
    left: -9999999em;
    width: 1px;
    height: 1px;
    line-height: 1px;
    text-indent: -9999em;
}

.ir_pm {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -99999px;
}
.flex{
    display: flex;
}
.text_left{
    text-align: left;
}
.text_right{
    text-align: right;}
table{
    border-collapse: collapse;table-layout: fixed; text-align: center; width: 100%;
}
.en{
    font-family: 'Roboto', sans-serif;
}